<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/brands">
            <span>Brand Management</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/category">
            <span>Category Management</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/products">
            <span>Product Management</span>
        </a>
    </li>
</ul>