<!-- filter Product -->
<div class="w3ls_dresses_grid_left_grid">
    <h3>Categories</h3>
    <div class="w3ls_dresses_grid_left_grid_sub">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title asd">
                        <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
                                class="glyphicon glyphicon-minus" aria-hidden="true"></i>Men
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body panel_text" style="padding-left: 0px;">
                        <ul>
                            <li><a href="/products/by-category?categoryId=4">T-s hirts</a></li>
                            <li><a href="/products/by-category?categoryId=5">Shirt</a></li>
                            <li><a href="/products/by-category?categoryId=6">Jean</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title asd">
                        <a class="pa_italic collapsed" role="button" data-toggle="collapse"
                           data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                           aria-controls="collapseTwo">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i
                                class="glyphicon glyphicon-minus" aria-hidden="true"></i>Women
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingTwo">
                    <div class="panel-body panel_text" style="padding-left: 0px;">
                        <ul>
                            <li><a href="/products/by-category?categoryId=7">T-shirts</a></li>
                            <li><a href="/products/by-category?categoryId=8">Shirt</a></li>
                            <li><a href="/products/by-category?categoryId=9">Jean</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="panel_bottom">
            <li><a href="/products/by-category?categoryId=3">Shoes</a></li>
        </ul>
    </div>
</div>
<div class="w3ls_dresses_grid_left_grid">
    <h3>Size</h3>
    <div class="w3ls_dresses_grid_left_grid_sub">
        <div class="ecommerce_color ecommerce_size">
            <ul>
                <li><a href="#">Small</a></li>
                <li><a href="#">Medium</a></li>
                <li><a href="#">Large</a></li>
                <li><a href="#">Extra Large</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //filter Product -->